*.dll
*.dylib
*.pdb
*.so
/.gradle/
/.idea/
/.nb-gradle/
/build/
/DacWizard/build/
/DacWizard/private/
/DacWizard/Written Assets/
/Jme3Examples/build/
/MinieAssets/build/
/MinieDump/build/
/MinieExamples/build/
/MinieExamples/src/main/resources/Models/BaseMesh/
/MinieExamples/src/main/resources/Models/CandyDish/
/MinieExamples/src/main/resources/Models/Duck/
/MinieExamples/src/main/resources/Models/Elephant/
/MinieExamples/src/main/resources/Models/Jaime/
/MinieExamples/src/main/resources/Models/MhGame/
/MinieExamples/src/main/resources/Models/MonkeyHead/
/MinieExamples/src/main/resources/Models/Ninja/
/MinieExamples/src/main/resources/Models/Oto/Oto.j3o
/MinieExamples/src/main/resources/Models/Oto/Oto.jpg
/MinieExamples/src/main/resources/Models/Sinbad/
/MinieExamples/src/main/resources/CollisionShapes/
/MinieExamples/src/main/resources/Textures/
/MinieExamples/Written Assets/
/MinieLibrary/build/
/TutorialApps/build/
/VhacdTuner/build/
/VhacdTuner/private/
/VhacdTuner/Written Assets/
/node_modules/
