*.dll
*.dylib
*.so
/.gradle/
/.nb-gradle/
/build/
/DacWizard/build/
/DacWizard/private/
/DacWizard/Written Assets/
/MinieAssets/build/
/MinieExamples/build/
/MinieExamples/src/main/resources/Models/Sinbad/
/MinieExamples/src/main/resources/Textures/plaid.png
/MinieExamples/Written Assets/
/MinieLibrary/build/